<table  cellspacing="0" cellpadding="3">
<tr>
	<th>Node-ID (MAC)</th>
	<th colspan="2">Ping</th>
	<th>Link-Local-Adresse</th>
	<th>Firmware-Version</th>
	<th> Registrieren </th>
	<th> &nbsp; </th>
</tr>


<% for node in regable_nodes %>
	<tr  class="<%= cycle('odd','even')%>">
		<td class="monospaced"><%= node.mac %></td>
		<td class="monospaced t_center" id="status_rtt_<%=node.id%>">&infin;</td>
		<td class="monospaced t_center" id="status_loss_<%=node.id%>">100%</td>
		<td class="monospaced"><%= node.link_local_address_short %></td>
		<td class="monospaced t_center"><%= node.fw_version if node.last_status%></td>

		<td class="t_right"><%= link_to icon_tag('vcard_add','Registrieren'), new_node_registration_path(:node => node) if node.permitted_to?(:register)%>
	<td> &nbsp; </td>
	</tr>
	<% end %>
</table>